<section
  class="banner-cta-strip relative w-full max-w-[1920px] mx-auto overflow-hidden h-[120px] xs:h-[130px] sm:h-[145px] md:h-[159px]">
  <a href="#contact"
    class="flex h-full items-center justify-center text-center px-[10px] sm:px-5 hover:opacity-90 transition-opacity">
    <div
      class="font-noto-sans-b text-white text-[15px] leading-[24px] xs:text-[16px] xs:leading-[26px] sm:text-[18px] sm:leading-[28px] md:text-[22px] md:leading-[30px] lg:text-[28px] lg:leading-[40px]">
      人手不足を劇的に解消する<span
        class="inline-block bg-[#f7e8ee] text-[#990033] font-noto-sans-b px-[6px] text-[18px] leading-[24px] xs:text-[19px] xs:leading-[26px] sm:text-[21px] sm:leading-[28px] md:text-[26px] md:leading-[30px] lg:text-[34px] lg:leading-[40px]">インド即戦力人材</span>に関する<br
        aria-hidden="true" />ご相談・お問い合わせはこちら
    </div>
  </a>
</section>
